{{!-- views/home.hbs --}}

<h1><span style="color:#53C67D;">HOME</span></h1>
<a href="/users">All Users</a>  

<h3>Log in to be spammed with things to do.</h3>
<div>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <h3><a href="/todo"> My To-Do List</a></h3>
<div>

<h3>Don't have an account? <span style="color:#53C67D;"><em><a href="/register">Register</a></em></span></h3>