{{!-- views/home.hbs --}}

<h1>HOME</h1>
<a href="/users">All Users</a>  

<h3>Login to be spammed with things to do.</h3>
<div>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
<div>

<h3>Don't have an account? <em>Follow the link below</em></h3>
<li><a href="/register">Register</a></li>