<div>
  <h1>Login: </h1>
  <p>{{message}}</p>
  <form method="POST" action="/login">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="username"/>
    <input type="submit"/>
  </form>
  <h3>New? <em>Register Here: </em></h3>
  <li><a href="/register">Register</a></li>
</div>