{{!-- views/register-user.hbs --}}

<h1><span style="color:#53C67D;">Register</span></h1>
<p>{{message}}</p>

<form method="POST" action="/register">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"/>
  <input type="submit"/>
</form>

<br><br>
<a href="/">Home</a>