{{!-- views/register-user.hbs --}}

<h3>Register</h3>

<p>{{message}}</p>
<form method="POST" action="/register">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"/>
  <input type="submit"/>
</form>